# Build folders
bin/
obj/
_build_check/
_deploy/

# Visual Studio
.vs/
*.user
*.suo

# Test
TestResults/

# Logs
*.log
logs/
backend-run*.log

# Local app settings
**/appsettings.Development.json
tmp-response.json
_staging/
_fe_*/

# Rider (nếu có)
.idea/
