USE [master]
GO
/****** Object:  Database [KPITrackerAPI]    Script Date: 03/06/2026 9:57:36 CH ******/
CREATE DATABASE KPITrackerAPI;
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KPITrackerAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KPITrackerAPI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[DonViId] [bigint] NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhNguongDanhGiaKPI]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhNguongDanhGiaKPI](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DanhMucChiTieuId] [bigint] NULL,
	[TieuChiDanhGia] [nvarchar](50) NULL,
	[QuyTacDanhGia] [nvarchar](50) NULL,
	[TuTyLe] [decimal](18, 2) NOT NULL,
	[DenTyLe] [decimal](18, 2) NOT NULL,
	[XepLoai] [nvarchar](50) NOT NULL,
	[DieuKienThoiHan] [nvarchar](30) NOT NULL,
	[Diem] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CauHinhNguongDanhGiaKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGiaoChiTieu]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGiaoChiTieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DotGiaoChiTieuId] [bigint] NOT NULL,
	[DanhMucChiTieuId] [bigint] NOT NULL,
	[DonViNhanId] [bigint] NOT NULL,
	[DonViThucHienChinhId] [bigint] NULL,
	[GiaTriMucTieu] [decimal](18, 2) NULL,
	[GiaTriMucTieuText] [nvarchar](max) NULL,
	[GiaTriDauKyCoDinh] [decimal](18, 2) NULL,
	[TieuChiDanhGia] [nvarchar](50) NULL,
	[LoaiMocSoSanh] [nvarchar](50) NULL,
	[KieuSoSanh] [nvarchar](50) NULL,
	[ChieuSoSanh] [nvarchar](50) NULL,
	[QuyTacDanhGia] [nvarchar](50) NULL,
	[ChiTietGiaoChaId] [bigint] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[ThuTuHienThi] [int] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[TanSuatBaoCao] [nvarchar](30) NULL,
 CONSTRAINT [PK_ChiTietGiaoChiTieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaKPI]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaKPI](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChiTietGiaoChiTieuId] [bigint] NOT NULL,
	[KyBaoCaoKPIId] [bigint] NOT NULL,
	[GiaTriMucTieu] [decimal](18, 2) NULL,
	[GiaTriDauKy] [decimal](18, 2) NULL,
	[GiaTriCuoiKy] [decimal](18, 2) NULL,
	[GiaTriCungKyNamTruoc] [decimal](18, 2) NULL,
	[ChenhLechSoVoiDauKy] [decimal](18, 2) NULL,
	[TyLeTangTruongSoVoiDauKy] [decimal](18, 2) NULL,
	[ChenhLechSoVoiCungKyNamTruoc] [decimal](18, 2) NULL,
	[TyLeTangTruongSoVoiCungKyNamTruoc] [decimal](18, 2) NULL,
	[TyLeHoanThanh] [decimal](18, 2) NULL,
	[XepLoai] [nvarchar](50) NULL,
	[KetQua] [nvarchar](50) NULL,
	[NhanXetDanhGia] [nvarchar](max) NULL,
	[NguoiDanhGia] [nvarchar](100) NULL,
	[NgayDanhGia] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DanhGiaKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucChiTieus]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucChiTieus](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaChiTieu] [nvarchar](50) NOT NULL,
	[TenChiTieu] [nvarchar](500) NOT NULL,
	[NguonChiTieu] [nvarchar](50) NOT NULL,
	[LoaiChiTieu] [nvarchar](50) NOT NULL,
	[CapApDung] [nvarchar](50) NOT NULL,
	[LinhVucNghiepVu] [nvarchar](255) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HuongDanTinhToan] [nvarchar](max) NULL,
	[CoChoPhepPhanRa] [bit] NOT NULL,
	[TrangThaiSuDung] [nvarchar](50) NOT NULL,
	[NgayHieuLuc] [datetime2](7) NULL,
	[NgayHetHieuLuc] [datetime2](7) NULL,
	[DieuKienHoanThanh] [nvarchar](max) NULL,
	[DieuKienKhongHoanThanh] [nvarchar](max) NULL,
	[TyLePhanTramMucTieu] [decimal](18, 2) NULL,
	[LoaiMocSoSanh] [nvarchar](50) NULL,
	[ChieuSoSanh] [nvarchar](50) NULL,
	[ChiTieuChaId] [bigint] NULL,
	[ThuTuHienThi] [int] NULL,
	[BatBuocDatTatCaTieuChiCon] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DonViChuTriId] [bigint] NULL,
 CONSTRAINT [PK_DanhMucChiTieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDonVi] [nvarchar](50) NOT NULL,
	[TenDonVi] [nvarchar](255) NOT NULL,
	[LoaiDonVi] [nvarchar](30) NOT NULL,
	[DonViChaId] [bigint] NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NguoiDaiDien] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotGiaoChiTieu]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotGiaoChiTieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDotGiao] [nvarchar](50) NOT NULL,
	[TenDotGiao] [nvarchar](255) NOT NULL,
	[NamApDung] [int] NOT NULL,
	[NguonDotGiao] [nvarchar](50) NOT NULL,
	[CapGiao] [nvarchar](50) NOT NULL,
	[DonViGiaoId] [bigint] NOT NULL,
	[NgayBatDau] [datetime2](7) NOT NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DotGiaoChiTieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyBaoCaoKPI]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyBaoCaoKPI](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKy] [nvarchar](50) NOT NULL,
	[TenKy] [nvarchar](255) NOT NULL,
	[LoaiKy] [nvarchar](30) NOT NULL,
	[Nam] [int] NOT NULL,
	[SoKy] [int] NULL,
	[TuNgay] [datetime2](7) NOT NULL,
	[DenNgay] [datetime2](7) NOT NULL,
	[NgayDauKy] [datetime2](7) NOT NULL,
	[NgayCuoiKy] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_KyBaoCaoKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomThiDua]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThiDua](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_NhomThiDua] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomThiDuaChiTieu]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThiDuaChiTieu](
	[NhomThiDuaId] [bigint] NOT NULL,
	[DanhMucChiTieuId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NhomThiDuaChiTieu] PRIMARY KEY CLUSTERED 
(
	[NhomThiDuaId] ASC,
	[DanhMucChiTieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomThiDuaDonVi]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThiDuaDonVi](
	[NhomThiDuaId] [bigint] NOT NULL,
	[DonViId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NhomThiDuaDonVi] PRIMARY KEY CLUSTERED 
(
	[NhomThiDuaId] ASC,
	[DonViId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByToken] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [nvarchar](450) NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheoDoiThucHienKPI]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheoDoiThucHienKPI](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChiTietGiaoChiTieuId] [bigint] NOT NULL,
	[KyBaoCaoKPIId] [bigint] NOT NULL,
	[GiaTriDauKy] [decimal](18, 2) NULL,
	[GiaTriThucHienTrongKy] [decimal](18, 2) NULL,
	[GiaTriPhatSinhTrongKy] [decimal](18, 2) NULL,
	[GiaTriCuoiKy] [decimal](18, 2) NULL,
	[GiaTriLuyKe] [decimal](18, 2) NULL,
	[GiaTriPhatSinhLuyKe] [decimal](18, 2) NULL,
	[NhanXet] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TheoDoiThucHienKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 03/06/2026 9:57:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[UserId] [nvarchar](450) NOT NULL,
	[PermissionId] [int] NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260422041222_InitialSchema', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260531042911_AddDanhMucChiTieuDonViChuTri', N'8.0.12')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a8460390-4c3b-406d-8559-6dfc5e149dbc', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b38ba53b-a43b-47ce-bf8c-3cc90396287c', N'Quản lý', N'QUẢN LÝ', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f4861bb9-2238-4af3-aa8a-e558038891c0', N'Công an Phường/Xã', N'CÔNG AN PHƯỜNG/XÃ', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'38c4fe43-340e-407d-8b69-c5abecb0bbf9', N'a8460390-4c3b-406d-8559-6dfc5e149dbc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5075a444-6168-489a-9f40-dbbe2f00d985', N'b38ba53b-a43b-47ce-bf8c-3cc90396287c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a22d9406-df37-4b17-b31d-267db5101c36', N'f4861bb9-2238-4af3-aa8a-e558038891c0')
GO
SET IDENTITY_INSERT [dbo].[CauHinhNguongDanhGiaKPI] ON 

INSERT [dbo].[CauHinhNguongDanhGiaKPI] ([Id], [DanhMucChiTieuId], [TieuChiDanhGia], [QuyTacDanhGia], [TuTyLe], [DenTyLe], [XepLoai], [DieuKienThoiHan], [Diem], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (1, NULL, N'DINH_LUONG_SO_SANH', N'DAT_TOI_THIEU', CAST(0.00 AS Decimal(18, 2)), CAST(99.99 AS Decimal(18, 2)), N'CHUA_HOAN_THANH', N'CHUA_DEN_HAN', CAST(0.00 AS Decimal(18, 2)), N'Chi tieu chua dat nhung van con thoi gian thuc hien.', CAST(N'2026-04-23T07:09:09.4426312' AS DateTime2), NULL)
INSERT [dbo].[CauHinhNguongDanhGiaKPI] ([Id], [DanhMucChiTieuId], [TieuChiDanhGia], [QuyTacDanhGia], [TuTyLe], [DenTyLe], [XepLoai], [DieuKienThoiHan], [Diem], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (2, NULL, N'DINH_LUONG_SO_SANH', N'DAT_TOI_THIEU', CAST(0.00 AS Decimal(18, 2)), CAST(99.99 AS Decimal(18, 2)), N'KHONG_HOAN_THANH', N'DA_DEN_HAN', CAST(0.00 AS Decimal(18, 2)), N'Chi tieu khong dat khi da het thoi han giao.', CAST(N'2026-04-23T07:09:09.4426313' AS DateTime2), NULL)
INSERT [dbo].[CauHinhNguongDanhGiaKPI] ([Id], [DanhMucChiTieuId], [TieuChiDanhGia], [QuyTacDanhGia], [TuTyLe], [DenTyLe], [XepLoai], [DieuKienThoiHan], [Diem], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (3, NULL, N'DINH_LUONG_SO_SANH', N'DAT_TOI_THIEU', CAST(100.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), N'HOAN_THANH', N'MAC_DINH', CAST(100.00 AS Decimal(18, 2)), N'Chi tieu hoan thanh dung muc yeu cau.', CAST(N'2026-04-23T07:09:09.4426315' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CauHinhNguongDanhGiaKPI] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietGiaoChiTieu] ON 

SET IDENTITY_INSERT [dbo].[ChiTietGiaoChiTieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGiaKPI] ON 

GO
SET IDENTITY_INSERT [dbo].[DanhGiaKPI] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucChiTieus] ON 

SET IDENTITY_INSERT [dbo].[DanhMucChiTieus] OFF
GO
SET IDENTITY_INSERT [dbo].[DonVi] ON 

INSERT [dbo].[DonVi] ([Id], [MaDonVi], [TenDonVi], [LoaiDonVi], [DonViChaId], [TrangThai], [DiaChi], [NguoiDaiDien], [SoDienThoai], [Email], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (2, N'CAP001', N'Công an Phường Hải Châu', N'XA', 3, N'HOAT_DONG', N'06 Nguyễn Du, Thạch Thang, Hải Châu, Đà Nẵng 550000, Việt Nam', NULL, N'02363822530', NULL, NULL, CAST(N'2026-04-27T08:14:15.5985483' AS DateTime2), CAST(N'2026-05-29T14:07:19.7382342' AS DateTime2))
INSERT [dbo].[DonVi] ([Id], [MaDonVi], [TenDonVi], [LoaiDonVi], [DonViChaId], [TrangThai], [DiaChi], [NguoiDaiDien], [SoDienThoai], [Email], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (3, N'CATP', N'Công an thành phố Đà Nẵng', N'THANH_PHO', NULL, N'HOAT_DONG', NULL, NULL, NULL, NULL, NULL, CAST(N'2026-05-29T07:55:32.3144287' AS DateTime2), NULL)
INSERT [dbo].[DonVi] ([Id], [MaDonVi], [TenDonVi], [LoaiDonVi], [DonViChaId], [TrangThai], [DiaChi], [NguoiDaiDien], [SoDienThoai], [Email], [GhiChu], [CreatedAt], [UpdatedAt]) VALUES (6, N'CA_HAI_VAN', N'Công an phường Hải Vân', N'XA', 3, N'HOAT_DONG', NULL, NULL, NULL, NULL, NULL, CAST(N'2026-05-29T07:55:32.3744714' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[DonVi] OFF
GO
SET IDENTITY_INSERT [dbo].[DotGiaoChiTieu] ON 

SET IDENTITY_INSERT [dbo].[DotGiaoChiTieu] OFF
GO
SET IDENTITY_INSERT [dbo].[KyBaoCaoKPI] ON 

INSERT [dbo].[KyBaoCaoKPI] ([Id], [MaKy], [TenKy], [LoaiKy], [Nam], [SoKy], [TuNgay], [DenNgay], [NgayDauKy], [NgayCuoiKy], [TrangThai], [GhiChu], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, N'Tháng 2', N'Thang2_2026', N'THANG', 2026, 2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-11T17:00:00.0000000' AS DateTime2), CAST(N'2026-02-15T16:59:59.0000000' AS DateTime2), N'DA_DONG', N'', CAST(N'2026-05-29T14:12:47.5828804' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KyBaoCaoKPI] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomThiDua] ON 

INSERT [dbo].[NhomThiDua] ([Id], [MaNhom], [TenNhom], [MoTa], [TrangThai], [CreatedAt], [UpdatedAt]) VALUES (1, N'DEMO-NHOM-PHONG', N'Nhóm thi đua demo cấp phòng/đội', N'Nhóm dùng để kiểm thử xếp hạng, so sánh và tổng hợp đánh giá.', N'HOAT_DONG', CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2), CAST(N'2026-05-29T14:39:41.6722250' AS DateTime2))
INSERT [dbo].[NhomThiDua] ([Id], [MaNhom], [TenNhom], [MoTa], [TrangThai], [CreatedAt], [UpdatedAt]) VALUES (2, N'DEMO-NHOM-PHUONG-XA', N'Nhóm thi đua demo Công an phường/xã', N'Nhóm dùng để kiểm thử xếp hạng, so sánh và tổng hợp đánh giá.', N'HOAT_DONG', CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2), CAST(N'2026-05-29T14:39:41.6722250' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NhomThiDua] OFF
GO
INSERT [dbo].[NhomThiDuaChiTieu] ([NhomThiDuaId], [DanhMucChiTieuId], [CreatedAt]) VALUES (1, 7, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
INSERT [dbo].[NhomThiDuaChiTieu] ([NhomThiDuaId], [DanhMucChiTieuId], [CreatedAt]) VALUES (1, 8, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
INSERT [dbo].[NhomThiDuaChiTieu] ([NhomThiDuaId], [DanhMucChiTieuId], [CreatedAt]) VALUES (1, 9, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
GO
INSERT [dbo].[NhomThiDuaDonVi] ([NhomThiDuaId], [DonViId], [CreatedAt]) VALUES (2, 2, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
INSERT [dbo].[NhomThiDuaDonVi] ([NhomThiDuaId], [DonViId], [CreatedAt]) VALUES (2, 6, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
INSERT [dbo].[NhomThiDuaDonVi] ([NhomThiDuaId], [DonViId], [CreatedAt]) VALUES (2, 10, CAST(N'2026-05-29T14:39:24.4626689' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (1037, N'ApprovePendingReports')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (1027, N'AssignIndicatorCatalogOwner')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (9, N'AssignTargetsToCadp')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [Expires], [IsRevoked], [CreatedAt], [RevokedAt], [ReplacedByToken], [UserId]) VALUES (1, N'ke2VZiX-E8w7cLzGk65FhH-UGEfPiE5ARjnON1d5qQlrGfiZv0kZ-T0gcERW7Z8rjjof9xpRdAkeWgq9rFOLaA', CAST(N'2026-04-30T07:10:26.3065206' AS DateTime2), 1, CAST(N'2026-04-23T07:10:26.3060812' AS DateTime2), CAST(N'2026-04-24T13:50:30.3702728' AS DateTime2), NULL, N'38c4fe43-340e-407d-8b69-c5abecb0bbf9')
INSERT [dbo].[RefreshTokens] ([Id], [Token], [Expires], [IsRevoked], [CreatedAt], [RevokedAt], [ReplacedByToken], [UserId]) VALUES (2, N'9NVc8Dq982tE8a98I-g7Z0saTsbd0ivQGQa8n2TDMU9z3NeplpyF4KygV4l962TTaMWT2eYWf6ElLzGRkrttvA', CAST(N'2026-05-01T13:50:30.3710235' AS DateTime2), 1, CAST(N'2026-04-24T13:50:30.3703059' AS DateTime2), CAST(N'2026-04-27T08:10:28.1264488' AS DateTime2), NULL, N'38c4fe43-340e-407d-8b69-c5abecb0bbf9')
INSERT [dbo].[RefreshTokens] ([Id], [Token], [Expires], [IsRevoked], [CreatedAt], [RevokedAt], [ReplacedByToken], [UserId]) VALUES (3, N'uxuf--QGrub2I0dY7-_bFULGeEPCSZoAkr36ePA9yIVDxpfHX7hjBoTlbjg_C24nWVSs9nHk1goEfQ1u-v_L7Q', CAST(N'2026-05-04T08:10:28.1274455' AS DateTime2), 1, CAST(N'2026-04-27T08:10:28.1264886' AS DateTime2), CAST(N'2026-04-27T11:43:49.6492801' AS DateTime2), NULL, N'38c4fe43-340e-407d-8b69-c5abecb0bbf9')
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'a8460390-4c3b-406d-8559-6dfc5e149dbc', 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'a8460390-4c3b-406d-8559-6dfc5e149dbc', 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'a8460390-4c3b-406d-8559-6dfc5e149dbc', 3)
GO
SET IDENTITY_INSERT [dbo].[TheoDoiThucHienKPI] ON 

GO
SET IDENTITY_INSERT [dbo].[TheoDoiThucHienKPI] OFF
GO
INSERT [dbo].[UserPermissions] ([UserId], [PermissionId], [IsGranted]) VALUES (N'5075a444-6168-489a-9f40-dbbe2f00d985', 1, 1)
INSERT [dbo].[UserPermissions] ([UserId], [PermissionId], [IsGranted]) VALUES (N'5075a444-6168-489a-9f40-dbbe2f00d985', 2, 1)
INSERT [dbo].[UserPermissions] ([UserId], [PermissionId], [IsGranted]) VALUES (N'5075a444-6168-489a-9f40-dbbe2f00d985', 3, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_DonViId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_DonViId] ON [dbo].[AspNetUsers]
(
	[DonViId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CauHinhNguongDanhGiaKPI_DanhMucChiTieuId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_CauHinhNguongDanhGiaKPI_DanhMucChiTieuId] ON [dbo].[CauHinhNguongDanhGiaKPI]
(
	[DanhMucChiTieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGiaoChiTieu_ChiTietGiaoChaId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGiaoChiTieu_ChiTietGiaoChaId] ON [dbo].[ChiTietGiaoChiTieu]
(
	[ChiTietGiaoChaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGiaoChiTieu_DanhMucChiTieuId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGiaoChiTieu_DanhMucChiTieuId] ON [dbo].[ChiTietGiaoChiTieu]
(
	[DanhMucChiTieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGiaoChiTieu_DonViNhanId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGiaoChiTieu_DonViNhanId] ON [dbo].[ChiTietGiaoChiTieu]
(
	[DonViNhanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGiaoChiTieu_DonViThucHienChinhId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGiaoChiTieu_DonViThucHienChinhId] ON [dbo].[ChiTietGiaoChiTieu]
(
	[DonViThucHienChinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGiaoChiTieu_DotGiaoChiTieuId_DanhMucChiTieuId_DonViNhanId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChiTietGiaoChiTieu_DotGiaoChiTieuId_DanhMucChiTieuId_DonViNhanId] ON [dbo].[ChiTietGiaoChiTieu]
(
	[DotGiaoChiTieuId] ASC,
	[DanhMucChiTieuId] ASC,
	[DonViNhanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaKPI_ChiTietGiaoChiTieuId_KyBaoCaoKPIId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DanhGiaKPI_ChiTietGiaoChiTieuId_KyBaoCaoKPIId] ON [dbo].[DanhGiaKPI]
(
	[ChiTietGiaoChiTieuId] ASC,
	[KyBaoCaoKPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaKPI_KyBaoCaoKPIId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaKPI_KyBaoCaoKPIId] ON [dbo].[DanhGiaKPI]
(
	[KyBaoCaoKPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMucChiTieus_ChiTieuChaId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_DanhMucChiTieus_ChiTieuChaId] ON [dbo].[DanhMucChiTieus]
(
	[ChiTieuChaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMucChiTieus_DonViChuTriId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_DanhMucChiTieus_DonViChuTriId] ON [dbo].[DanhMucChiTieus]
(
	[DonViChuTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DanhMucChiTieus_MaChiTieu]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DanhMucChiTieus_MaChiTieu] ON [dbo].[DanhMucChiTieus]
(
	[MaChiTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonVi_DonViChaId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_DonVi_DonViChaId] ON [dbo].[DonVi]
(
	[DonViChaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonVi_MaDonVi]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DonVi_MaDonVi] ON [dbo].[DonVi]
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DotGiaoChiTieu_MaDotGiao]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DotGiaoChiTieu_MaDotGiao] ON [dbo].[DotGiaoChiTieu]
(
	[MaDotGiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KyBaoCaoKPI_LoaiKy_Nam_SoKy]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_KyBaoCaoKPI_LoaiKy_Nam_SoKy] ON [dbo].[KyBaoCaoKPI]
(
	[LoaiKy] ASC,
	[Nam] ASC,
	[SoKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KyBaoCaoKPI_MaKy]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KyBaoCaoKPI_MaKy] ON [dbo].[KyBaoCaoKPI]
(
	[MaKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhomThiDua_MaNhom]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhomThiDua_MaNhom] ON [dbo].[NhomThiDua]
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhomThiDua_TenNhom]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhomThiDua_TenNhom] ON [dbo].[NhomThiDua]
(
	[TenNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhomThiDuaChiTieu_DanhMucChiTieuId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_NhomThiDuaChiTieu_DanhMucChiTieuId] ON [dbo].[NhomThiDuaChiTieu]
(
	[DanhMucChiTieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhomThiDuaDonVi_DonViId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_NhomThiDuaDonVi_DonViId] ON [dbo].[NhomThiDuaDonVi]
(
	[DonViId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permissions_Name]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permissions_Name] ON [dbo].[Permissions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_Token]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [dbo].[RefreshTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionId] ON [dbo].[RolePermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TheoDoiThucHienKPI_ChiTietGiaoChiTieuId_KyBaoCaoKPIId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TheoDoiThucHienKPI_ChiTietGiaoChiTieuId_KyBaoCaoKPIId] ON [dbo].[TheoDoiThucHienKPI]
(
	[ChiTietGiaoChiTieuId] ASC,
	[KyBaoCaoKPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TheoDoiThucHienKPI_KyBaoCaoKPIId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_TheoDoiThucHienKPI_KyBaoCaoKPIId] ON [dbo].[TheoDoiThucHienKPI]
(
	[KyBaoCaoKPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPermissions_PermissionId]    Script Date: 03/06/2026 9:57:37 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserPermissions_PermissionId] ON [dbo].[UserPermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_DonVi_DonViId] FOREIGN KEY([DonViId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_DonVi_DonViId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CauHinhNguongDanhGiaKPI]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhNguongDanhGiaKPI_DanhMucChiTieus_DanhMucChiTieuId] FOREIGN KEY([DanhMucChiTieuId])
REFERENCES [dbo].[DanhMucChiTieus] ([Id])
GO
ALTER TABLE [dbo].[CauHinhNguongDanhGiaKPI] CHECK CONSTRAINT [FK_CauHinhNguongDanhGiaKPI_DanhMucChiTieus_DanhMucChiTieuId]
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoChiTieu_ChiTietGiaoChiTieu_ChiTietGiaoChaId] FOREIGN KEY([ChiTietGiaoChaId])
REFERENCES [dbo].[ChiTietGiaoChiTieu] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu] CHECK CONSTRAINT [FK_ChiTietGiaoChiTieu_ChiTietGiaoChiTieu_ChiTietGiaoChaId]
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoChiTieu_DanhMucChiTieus_DanhMucChiTieuId] FOREIGN KEY([DanhMucChiTieuId])
REFERENCES [dbo].[DanhMucChiTieus] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu] CHECK CONSTRAINT [FK_ChiTietGiaoChiTieu_DanhMucChiTieus_DanhMucChiTieuId]
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoChiTieu_DonVi_DonViNhanId] FOREIGN KEY([DonViNhanId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu] CHECK CONSTRAINT [FK_ChiTietGiaoChiTieu_DonVi_DonViNhanId]
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoChiTieu_DonVi_DonViThucHienChinhId] FOREIGN KEY([DonViThucHienChinhId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu] CHECK CONSTRAINT [FK_ChiTietGiaoChiTieu_DonVi_DonViThucHienChinhId]
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoChiTieu_DotGiaoChiTieu_DotGiaoChiTieuId] FOREIGN KEY([DotGiaoChiTieuId])
REFERENCES [dbo].[DotGiaoChiTieu] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGiaoChiTieu] CHECK CONSTRAINT [FK_ChiTietGiaoChiTieu_DotGiaoChiTieu_DotGiaoChiTieuId]
GO
ALTER TABLE [dbo].[DanhGiaKPI]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaKPI_ChiTietGiaoChiTieu_ChiTietGiaoChiTieuId] FOREIGN KEY([ChiTietGiaoChiTieuId])
REFERENCES [dbo].[ChiTietGiaoChiTieu] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaKPI] CHECK CONSTRAINT [FK_DanhGiaKPI_ChiTietGiaoChiTieu_ChiTietGiaoChiTieuId]
GO
ALTER TABLE [dbo].[DanhGiaKPI]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaKPI_KyBaoCaoKPI_KyBaoCaoKPIId] FOREIGN KEY([KyBaoCaoKPIId])
REFERENCES [dbo].[KyBaoCaoKPI] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaKPI] CHECK CONSTRAINT [FK_DanhGiaKPI_KyBaoCaoKPI_KyBaoCaoKPIId]
GO
ALTER TABLE [dbo].[DanhMucChiTieus]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucChiTieus_DanhMucChiTieus_ChiTieuChaId] FOREIGN KEY([ChiTieuChaId])
REFERENCES [dbo].[DanhMucChiTieus] ([Id])
GO
ALTER TABLE [dbo].[DanhMucChiTieus] CHECK CONSTRAINT [FK_DanhMucChiTieus_DanhMucChiTieus_ChiTieuChaId]
GO
ALTER TABLE [dbo].[DanhMucChiTieus]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucChiTieus_DonVi_DonViChuTriId] FOREIGN KEY([DonViChuTriId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[DanhMucChiTieus] CHECK CONSTRAINT [FK_DanhMucChiTieus_DonVi_DonViChuTriId]
GO
ALTER TABLE [dbo].[DonVi]  WITH CHECK ADD  CONSTRAINT [FK_DonVi_DonVi_DonViChaId] FOREIGN KEY([DonViChaId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[DonVi] CHECK CONSTRAINT [FK_DonVi_DonVi_DonViChaId]
GO
ALTER TABLE [dbo].[NhomThiDuaChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_NhomThiDuaChiTieu_DanhMucChiTieus_DanhMucChiTieuId] FOREIGN KEY([DanhMucChiTieuId])
REFERENCES [dbo].[DanhMucChiTieus] ([Id])
GO
ALTER TABLE [dbo].[NhomThiDuaChiTieu] CHECK CONSTRAINT [FK_NhomThiDuaChiTieu_DanhMucChiTieus_DanhMucChiTieuId]
GO
ALTER TABLE [dbo].[NhomThiDuaChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_NhomThiDuaChiTieu_NhomThiDua_NhomThiDuaId] FOREIGN KEY([NhomThiDuaId])
REFERENCES [dbo].[NhomThiDua] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhomThiDuaChiTieu] CHECK CONSTRAINT [FK_NhomThiDuaChiTieu_NhomThiDua_NhomThiDuaId]
GO
ALTER TABLE [dbo].[NhomThiDuaDonVi]  WITH CHECK ADD  CONSTRAINT [FK_NhomThiDuaDonVi_DonVi_DonViId] FOREIGN KEY([DonViId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[NhomThiDuaDonVi] CHECK CONSTRAINT [FK_NhomThiDuaDonVi_DonVi_DonViId]
GO
ALTER TABLE [dbo].[NhomThiDuaDonVi]  WITH CHECK ADD  CONSTRAINT [FK_NhomThiDuaDonVi_NhomThiDua_NhomThiDuaId] FOREIGN KEY([NhomThiDuaId])
REFERENCES [dbo].[NhomThiDua] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhomThiDuaDonVi] CHECK CONSTRAINT [FK_NhomThiDuaDonVi_NhomThiDua_NhomThiDuaId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[TheoDoiThucHienKPI]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoiThucHienKPI_ChiTietGiaoChiTieu_ChiTietGiaoChiTieuId] FOREIGN KEY([ChiTietGiaoChiTieuId])
REFERENCES [dbo].[ChiTietGiaoChiTieu] ([Id])
GO
ALTER TABLE [dbo].[TheoDoiThucHienKPI] CHECK CONSTRAINT [FK_TheoDoiThucHienKPI_ChiTietGiaoChiTieu_ChiTietGiaoChiTieuId]
GO
ALTER TABLE [dbo].[TheoDoiThucHienKPI]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoiThucHienKPI_KyBaoCaoKPI_KyBaoCaoKPIId] FOREIGN KEY([KyBaoCaoKPIId])
REFERENCES [dbo].[KyBaoCaoKPI] ([Id])
GO
ALTER TABLE [dbo].[TheoDoiThucHienKPI] CHECK CONSTRAINT [FK_TheoDoiThucHienKPI_KyBaoCaoKPI_KyBaoCaoKPIId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Permissions_PermissionId]
GO
USE [master]
GO
